<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.dra">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCmV9ntX259QBrbvXwJUc6wNMToSUzhCcE" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".IntroActivity"
            android:launchMode="standard"
            android:screenOrientation="fullUser"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.RegisterUserActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.RegisterDocActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ShowTerms"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterWithActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RegisterHospActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.sendNotification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RegisterMediStoreActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.NearbyHospitals"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.NearbyMedStores"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.NearbyVet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.NearbyDentalClinics"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ActivityBooking"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <service android:name=".Activities.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Activities.BloodFirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Activities.MedicineFirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Activities.ConfirmBloodFirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Activities.ConfirmMedicineFirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Activities.ConfirmAppointmentFirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name=".Activities.OnClickingNoti"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="in.kd.notify.TARGETNOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.OnRecievingBloodRequest"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="in.kd.notify.BLOOD.TARGETNOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListBloodRequestsNotifications"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.OnReceivingBloodConfirmation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="in.kd.notify.BLOOD.CONFIRM.TARGETNOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.OnReceivingMedicineRequest"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="in.kd.notify.MEDICINE.TARGETNOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.OnReceivingMedicineConfirmation"
            android:screenOrientation="portrait">
            <action android:name="in.kd.notify.MEDICINE.CONFIRM.TARGETNOTIFICATION" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity android:name=".HospitalRecyclerList" />
        <activity android:name=".Activities.DisplayMediStoreDetails"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Activities.OnReceivingAppoinRequest"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="in.kd.notify.APPOINTMENT.TARGETNOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.OnRecievingAppoinConfirmation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="in.kd.notify.MEDICINE.CONFIRM.TARGETNOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>